{% extends '::base.html.twig' %}

 {% block javascripts %}

     <div id="fb-root"></div>
     <script>
         window.fbAsyncInit = function() {
             // init the FB JS SDK
             FB.init({
                 appId      : '549314088438626,                        // App ID from the app dashboard
                 channelUrl : '//www.whathaveidonenow.com/channel.html', // Channel file for x-domain comms
                 status     : true,                                 // Check Facebook Login status
                 xfbml      : true                                  // Look for social plugins on the page
             });

             // Additional initialization code such as adding Event Listeners goes here
         };

         // Load the SDK asynchronously
         (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement(s); js.id = id;
             js.src = "//connect.facebook.net/en_US/all.js";
             fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));
     </script>


 {% endblock %}

 {% block body %}

     <header>
         <div id='logo1'> <h1>WhatHaveIDoneNow?!</h1></div>
         <h4>because no matter what, you'll have done something wrong</h4>
         <div id="top_post"><button name="Post" onclick="self.location=' {{ path('whathaveidonenowblog_postscrewup')}}'">Post a screw up!</button></div>
     </header>
     {% for post in posts %}
     <div id='wrapper'>
         <div id='post'>
             <div class='body'>
                 <div id='image'>
                     <img src="{{asset(post.path)}}" alt="Sorry, we've messed up :(">
                 </div>


                 <div id='comments'>
                     <P>Comments</P>
                             <button onclick="self.location=' {{ path('whathaveidonenowblog_postscrewup')}}'">
                             <span class= "post_short">+</span>
                             <span class= "post_long">Post a screw up</span>
                         </button>
                         
                 </div>

                 <div class="fb-comments" data-href="http://whathaveidonenow.com/" data-colorscheme="dark" data-width="400"></div>
                 </div>
         </div>
     </div>
     {% endfor %}
 {% endblock %}


