{% extends '::base.html.twig' %}

 {% block javascripts %}

     <div id="fb-root"></div>
     <script>(function(d, s, id) {
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) return;
             js = d.createElement(s); js.id = id;
             js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1404066886485988";
             fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));</script>


 {% endblock %}

 {% block body %}

     <header>
         <div id='logo1'> <h1>WhatHaveIDoneNow?!</h1></div>
         <h4>because no matter what, you'll have done something wrong</h4>
     </header>
     {% for post in posts %}
     <div id='wrapper'>
         <div id='post'>
             <div class='body'>
                 <div id='image'>
                     <img src="{{asset(post.path)}}" alt="Sorry, we've messed up :("  width="450" height="300">
                 </div>


                 <div id='comments'>
                     <P>title goes here! Also links to view_post.html.twig</P>
                     		<p>Description goes here
                     		Description goes here Description goes here 
                     		Description goes here Description goes here 
                     		Description goes here Description goes here 
                     		Description goes here  Description goes here </p>
                         </button>
                         <p>Total number of commentsgoes here</p>
                 </div>
                 </div>
         </div>
     </div>
     {% endfor %}
 {% endblock %}


