{% extends '::base.html.twig' %} {% block body %}
{% block javascript %}
<script>(function(d, s, id) {
  		var js, fjs = d.getElementsByTagName(s)[0];
  		if (d.getElementById(id)) return;
  		js = d.createElement(s); js.id = id;
 		 js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
  		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}
<header>
	<div id='logo1'>
		<h1>WhatHaveIDoneNow?!</h1>
	</div>
	<h4>because no matter what, you'll have done something wrong</h4>
	<div id='top_post'>
		<button name='Post'>Post a screw up!</button>
	</div>
</header>
</head>
<div id='wrapper'>
	<h4>Title goes here </h4>
	<h5>From the: goes here</h5>
	<div id='image'>
		<img src="{{ post.path}}" alt="Sorry, we've messed up :(">
	</div>
	<div id=description>
		<p>Description goes here</p>
	</div>
	<div class="fb-comments" data-href="http://example.com"
		data-width="940" data-num-posts="10"></div>

</div>

	{% endblock %}