{% extends '::base.html.twig' %}

 {% block javascripts %}

     <div id="fb-root"></div>
     <script>(function(d, s, id) {
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) return;
             js = d.createElement(s); js.id = id;
             js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1404066886485988";
             fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));
     </script>


 {% endblock %}

 {% block body %}

     <header>
         <div id='logo1'> <a href="{{path('whathaveidonenowblog_homepage')}}"> <h1>WhatHaveIDoneNow?!</h1></a></div>
         <h4>because no matter what, you'll have done something wrong</h4>
     </header>
     <div id='wrapper'>
         <div id='post'>
             <div class='body'>
                 <div id='image'>
                     <img src="{{asset(post.path)}}" alt="Sorry, we've messed up :("  width="450" height="300">
                 </div>


                 <div id='comments'>
                     <P>Comments</P>

                             <div class="fb-like" data-href="{{ app.request.uri }}" data-width="400" data-colorscheme="dark" data-show-faces="true" data-send="true"></div>
                             <div class="fb-comments" data-href="{{ app.request.uri }}" data-colorscheme="light" data-width="400"></div>

                 </div>
                 </div>
         </div>
     </div>
 {% endblock %}


