{% extends '::base.html.twig' %} {% block body %}

<header>
	<div id='logo1'>
		<h1>WhatHaveIDoneNow?!</h1>
	</div>
	<h4>because no matter what, you'll have done something wrong</h4>
</header>

<div id='wrapper'>
	<div id='add_post'>

        {{ form(form) }}

	</div>
	<div id='instructions'>
		<p>Instructions</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
			aliquam id velit quis hendrerit. Vestibulum malesuada, urna a
			interdum fringilla, velit velit malesuada magna, ac egestas augue
			odio ut velit. Ut nisi sapien, eleifend a risus non, mollis hendrerit
			elit. Curabitur pretium viverra vestibulum. Vestibulum ante ipsum
			primis in faucibus orci luctus et ultrices posuere cubilia Curae;
			Curabitur et mauris quis tellus bibendum ullamcorper. Lorem ipsum
			dolor sit ametUt nisi sapien, eleifend a risus non, mollis hendrerit
			elit. Curabitur pretium viverra vestibulum. Vestibulum ante ipsum
			primis in faucibus orci luctus et ultrices posuere cubilia Curae;
			Curabitur et mauris quis tellus bibendum ullamcorper.</p>
	</div>
	{% endblock %}