{% extends '::base.html.twig' %} {% block body %}

<header>
	<div id='logo1'>
		<h1>WhatHaveIDoneNow?!</h1>
	</div>
	<h4>because no matter what, you'll have done something wrong</h4>
</header>

<div id='wrapper'>
	<div id='add_post'>
		<form name='add_post' action='--' method='get'>
			<P>My Screw Up</P>
			<input type='text' name='Title' placeholder='Title' class='title'
				required='true'><br> <input type='textarea' name='Description'
				placeholder='Description' class='description'><br>
			<p>From the:</p>
			<input type='radio' name='relationship' value='girlfriend'
				class='relationship'>Girlfriend<br> <input type='radio'
				name='relationship' value='wife' class='relationship'>Wife<br> <input
				type='radio' name='relationship' value='boyfriend'
				class='relationship'>Boyfriend<br> <input type='radio'
				name='relationship' value='husband' class='relationship'>Husband<br>
			<input type='file' name='file' id='file'><br> <input type='submit'
				value='Submit' class='submit'>
		</form>
	</div>
	<div id='instructions'>
		<p>Instructions</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
			aliquam id velit quis hendrerit. Vestibulum malesuada, urna a
			interdum fringilla, velit velit malesuada magna, ac egestas augue
			odio ut velit. Ut nisi sapien, eleifend a risus non, mollis hendrerit
			elit. Curabitur pretium viverra vestibulum. Vestibulum ante ipsum
			primis in faucibus orci luctus et ultrices posuere cubilia Curae;
			Curabitur et mauris quis tellus bibendum ullamcorper. Lorem ipsum
			dolor sit ametUt nisi sapien, eleifend a risus non, mollis hendrerit
			elit. Curabitur pretium viverra vestibulum. Vestibulum ante ipsum
			primis in faucibus orci luctus et ultrices posuere cubilia Curae;
			Curabitur et mauris quis tellus bibendum ullamcorper.</p>
	</div>
	{% endblock %}