<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <title>{% block title %}WhatHaveIDoneNow?{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset("css/main.css") }}" rel="stylesheet" />
        {% endblock %}
    </head>

    <body>
        {% block javascripts %}{% endblock %}
        {% block body %}{% endblock %}
    </body>

    {% block footer %}
    <footer>
    <div id="footer">
    <p>Copyright &copy; 2013 Steel City Studios. Site Designed by Steel City Studios. All Rights Reserved.</p>
    </div>
    </footer>s
    {% endblock %}
</html>
