<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        < meta property="fb:app_id" content="1404066886485988"/>
        < meta property="fb:admins" content="james.adcock.7140"/ >
        < meta property="og:title" content="test tilte"/>
        < meta property="og:type" content="website"/>
        < meta property="og:site_name" content="whathaveidonenow.com"/ >
        < meta property="og:url" content="http://www.whathaveidonenow/app.ph"/>
        < meta property="og:image" content="http://URL-TO-IMAGE"/>
        < meta property="og:description" content="Description of page content"/>
    </head>
    <body>
        {% block javascripts %}{% endblock %}
        {% block body %}{% endblock %}
    </body>
    
    {% block footer %}
    <footer>
    Copyright &copy; 2013 Steel City Studios Site Designed by Steel City Studios All Rights Reserved.
    </footer>
    {% endblock %}
</html>
